<!--

html,body {
 background-color: white;
 color: #3f3f3f;
 font-family:'Arial';
 background-repeat: no-repeat;
 background-position: right bottom;
 background-attachment: fixed;
 background-size: cover;
 font-size: 100.01%;
 line-height: 1;
 margin: 0; 
 padding: 0;
 text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  text-align:left;
  padding:0;
  background-color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  color: #b2acac;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  font-weight:normal;
  padding:14px 0px 0 4px;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}


#scroll-top-wrapper a:hover {
  color: gray;
}
#scroll-top-wrapper {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
  text-decoration:underline;
  padding: 10px;
}

.tdint {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: right;

}
.tdtxt {
  padding:0.3em 0.5em;
  vertical-align: top;
  text-align: left;
}


div#Contenttxt {
 min-height:600px;
 padding-left:0px;
 border:0px solid silver;
 text-align: left;
 color: #4f3f3f;
}

div#ContentLogin {
 min-height:600px;
 text-align:center;
 max-width:380px;
 width:100%;
 padding:0px;
 margin:0;
 border: 0px solid #cccccc;
 color: #4f3f3f;
}

select,input {
 border: 1px solid #c7c8ca;
 color:black;
}

div a {
 color:#4f3f3f;
 text-decoration: underline;
}
div a:hover {
 color: grey;
 text-decoration: underline;
}
.content_title2 {
  font-size:1.2em;
 color: #4f3f3f;
}

.content_title3 {
  font-size:1.3em;
 color: #4f3f3f;
}

.content1 {
  font-size:1.5em;
  line-height:1.2;
  font-weight:bold;
  padding-bottom:0.7em;
 color: #4f3f3f;
}
.content2 {
  line-height:1.2;
  padding-top:1.0em;
  max-width:750px;
 color: #4f3f3f;
}
.content2_contact {
  font-size:1em;
  line-height:1.5;
  max-width:750px;
 color: #4f3f3f;
}
.content2_legende {
  line-height:2.0;
  max-width:750px;
  text-align:left;
  padding:0.2em 0;
 color: #4f3f3f;
}

/*
@media (max-width: 768px){

 div#Contenttxt {
  border:0px solid silver;
  padding:0px;
  text-align: left;
 }
}
*/

//-->


