<!--
/*
*/
html {
 overflow-y: scroll;
}

html,body {
 background-color: #d9d6ce;
 color: #3f3f3f;
 font-family:Roboto, "Helvetica Neue", Helvetica, sans-serif;
 background-repeat: no-repeat;
 background-position: right bottom;
 background-attachment: fixed;
 background-size: cover;
 font-size: 100.01%;
 line-height: 1;
 margin: 0; 
 padding: 0;
 text-align: center;
}

div {
 font-size: 1em;
}

.hide {display: all;}

.list { 
 margin:5px 0;
}

/* Popup container */
.popup {
  position: relative;
  color:#333399;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-left: center;
  padding: 8px;
  position: absolute;
  /*margin-left:-350px;*/
  z-index: 11;
}

.popup .show {
  visibility: visible;
  /*margin-left:-350px;*/
}

th {
  font-size: 0.81em;
  text-align:center;
  font-weight: normal;
  background-color: silver;
  border-right: solid thin gray;
  border-bottom: solid thin gray;
}

/*
td {
 font-size: 0.81em;
 background-color: white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
*/
/* from global */
div#controlline {
 position:fixed;
 right:0;
 z-index:10;
 min-width:13em;
 text-align:left;
 top:0px;
}


div#Container_cms {
 font-size: 13px;
 background-color:white;
 border: 0px solid gray;
 margin: 0 auto;
 padding: 0;
 min-width: 100%;
 min-height: 150px;
}

.left_italic_cms {
  min-width:140px;
  padding:4px 0;
  vertical-align: top;
  text-align: right;
  border: 0px solid black;
}

.content1_cms {
  padding:4px 10px;
  min-width:120px;
  vertical-align: top;
  text-align: left;
  border: 0px;
}

/**/

img {border:0px solid black;}

div#Oline {
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-color:silver;
  margin:0.5em;
}

.Sline {
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-color:silver;
  margin:0.3em 1em 1.2em 1em;
}

.blueline {
  border-bottom-width:2px;
  border-bottom-style:solid;
  border-color:#60c6f6;
}
.left_italic {
  padding:10px 10px 0 0;
  width:50px;
  vertical-align: top;
  text-align: right;
  padding-right: 15px;
  font-style:italic;
}


/*new content markup*/
.content_header2 {
  font-size:20px;
  background-color:black;
  color:white;
  width:300px;
  padding: 5px;
}
.header_path2 {
  position:absolute;
  font-weight:normal;
  font-size:12px;
  padding-left:5px;
  bottom:0px;
}
.header_path2 a:hover {
  color: #999999;
}
.title2 {
  font-weight:bold;
  font-size:14px;
  padding:15px 15px 0 15px;
}
.content2 {
  padding:10px 15px;
}
.content2_legende {
  font-size:16px;
  line-height:2.0;
  max-width:750px;
  padding:0.2em 0;
  text-align:left;
}
.content_float2 {
  float:left;
  text-align:right;
  padding:2px 30px;
  width:100px;
}
.content_img2 {
  float:left;
  vertical-align: top;
  padding:10px 15px;
}
.content_img3 {
  vertical-align: bottom;
  padding:10px;
}
/*end*/


.content1_img {
  padding:1px;
  border-right: solid thin silver;
  border-bottom: solid thin silver;
}
.element {
  margin:0.5em;
  font-size:0.91em;
  height: 1.7em;
  padding:0.3em 0 0 0;
  text-align:left;
  border-right: solid thin silver;
  border-bottom: solid thin silver;
}

.calement_86cbd7 {
  margin:0;
  font-size:0.71em;
  text-align:right;
  border-bottom: 2px solid #86cbd7;
}
.calement_f0536e {
  margin:0;
  font-size:0.71em;
  text-align:right;
  border-bottom: 2px solid #f0536e;
}
.element2 {
  margin:0.4em;
  vertical-align: top;
}
.tb_inst {
  padding:2px 5px;
  vertical-align: top;
  text-align:left;
  border-right: solid thin silver;
  border-bottom: solid thin silver;
}
.ct_editline {
  margin:1px 0;
  padding:2px 10px;
  border-bottom: 1px solid silver;
  background-color:white;
}
.ct_editline2 {
  margin:1px 0;
  padding:2px;
  border-bottom: 0px solid silver;
  background-color:white;
}
.search_line {
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  background-color:white;
}
.search_line_date {
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  background-color:white;
  width: 50px;
}
.element3 {
  margin:0.1em 0;
  padding:0.2em;
  border-bottom: solid thin silver;
  background-color:white;
}

.element4 {
  margin:0.2em 1em;
  padding:0.2em 0.5em;
  vertical-align: top;
  background-image:url(/img/bg_main_bottom.gif);
}
.element5 {
  margin:0.4em 2em;
  vertical-align: top;
}
.element5:hover {
  background-color: #e6edf2;
}
.element6 {
  font-size:0.81em;
  padding:0.5em 1em;
  text-align:right;
  border:0px;
}
.elementwhite {
  background-color:white;
  color:black;
}
.elementred {
  background-color:white;
  color:red;
}
.elementc {
  margin:2px auto;
  text-align: center;
}
.elementr {
  margin:0.1em 0.5em;
  vertical-align: top;
  text-align: right;
}
.ebutton {
 font-size:1em;
 border: 1px solid silver;
 color:black;
 padding:3px 15px;
}
.ebutton2 {
 border: 1px solid silver;
 color:black;
 padding:0 5px;
}
.ebutton2:hover { 
 background-color:white;
}

.ebutton3 {
 font-size:1.1em;
 border: 1px solid silver;
 text-decoration:none;
 margin: 0px 15px;
 color:black;
 background-color:#dcdcdc;
 padding:1px 10px;
}

.ebutton3:hover { 
 background-color:white;
}

.ebutton4 {
 border:1px solid #5c5c5c;
 background-color:#5c5c5c;
 color:#fffffe;
}
.ebutton4:hover { 
 border:1px solid #d9d6ce;
 background-color:#d9d6ce;
}
.ebutton4:active { 
 border:1px solid #d9d6ce;
 background-color:#d9d6ce;
}


/* e wie Edit inputFelder */
.etxt {
 font-size:100%;
 border: 1px solid silver;
 padding:1px;
 margin:1px;
}
.etxt2 {
 font-size:100%;
 border: 1px solid #FF5F1F;
 padding:1px;
 margin:1px;
}
.stxt {
 font-size:100%;
 border: 1px solid silver;
 background-color: #ffffff;
 width:100%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
}
.stxt2 {
 font-size:100%;
 border: 1px solid silver;
 background-color: #ffffff;
 min-width:2%;
 max-width:10%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
}
.sdate {
 font-size:100%;
 border: 1px solid silver;
 background-color: #ffffff;
 width:45%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
}
.eimg {
 height: 20px;
 width: 200px;
 border: 1px solid silver;
 background-color: #ffffff;
}
.etxtarea {
 min-height: 2em;
 min-width: 20em;
 border: 1px solid silver;
}
.etxtarea2 {
 min-height: 10em;
 max-height: 25em;
 min-width: 40em;
 max-width: 60em;
 border: 0px solid silver;
 background-color: #ffffff;
}
.eselect {
 font-size:1em;
 border: 1px solid silver;
 background-color: #ffffff;
}
.eselect2 {
 font-size:1em;
 border: 1px solid #FF5F1F;
 background-color: #ffffff;
}
.eselect_multiple {
 font-size:1em;
 border: 1px solid silver;
 background-color: white;
}
.tdescr {
  padding:0.5em 1em;
  vertical-align: top;
  text-align: right;
  width:30%;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdval {
  padding:0.5em 1em;
  vertical-align: top;
  text-align: left;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}

.tdescr2 {
  padding:5px 10px;
  vertical-align: top;
  text-align: right;
  width:400px;
 font-size:0.91em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;

}
.tdval2 {
  padding:5px 14px;
  vertical-align: top;
  text-align: left;
  min-width:200px;
 font-size:0.91em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdescr3 {
  padding:5px;
  vertical-align:top;
  text-align: right;
  min-width:50px;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdval3 {
  padding:5px;
  vertical-align:top;
  text-align: left;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}

.tdescr4 {
  padding:0.5em 1em;
  vertical-align: top;
  text-align: right;
  width:30%;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}

.tdval4 {
  padding:0.5em 1em;
  vertical-align: top;
  text-align: left;
  min-width:200px;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdval5 {
  padding:0.5em 1em;
  margin:0;
  vertical-align: top;
  text-align: left;
 font-size:0.91em;
 border: 0px solid green;
 background-color:#f2f5de;
}
.tdtxt {
  padding:0.2em 0.5em;
  vertical-align: top;
  text-align: left;
  min-width:45px;
  max-width:200px;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdtxt2 {
  padding:0.1em 0.3em;
  vertical-align: top;
  text-align: left;
  max-width:200px;
  overflow:hidden;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdtxt3 {
  padding:0.2em 0.5em;
  vertical-align: top;
  text-align: left;
  min-width:45px;
  max-width:500px;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}
.tdsum {
  padding:0.1em 0.5em;
  vertical-align: top;
  text-align: right;
  font-weight: bold;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;

}

.tdint {
  padding:0.1em 0.5em;
  vertical-align: top;
  text-align: right;
  min-width:10px;
 font-size:0.81em;
 background-color:white;
 border-right: solid thin silver;
 border-bottom: solid thin silver;

}

.coloricon {
 padding:0 0.25em;
 margin:0.1em;
 vertical-align: middle;
}

.tdicon {
  padding:0.1em 0.8em;
  font-weight:bold;
  vertical-align: middle;
  //text-align: center;
 border-right: solid thin silver;
 border-bottom: solid thin silver;
}

.thmatrix {
  font-size: 0.91em;
  min-width:100px;
  text-align:center;
  font-weight: normal;
  padding: 3px 0;
  background-color: silver;
  border-right: solid thin gray;
  border-bottom: solid thin gray;
}
.tdtxtw {
 color: white;
 padding:1px 3px;
 text-align:right;
}
.tdtxtc {
 text-align:center;
 padding:0.3em 0.5em;
}
.tdimg {
  overflow:hidden;
  vertical-align: top;
}


select,input {
 border: 1px solid silver;
}

.copri_header {
 border:0px solid green;
 position:fixed;
 z-index:10;
 top:0%;
 left:0%;
 padding:5px 10px;
}


div#Headerlogo {
 background-color:white;
 padding:4px 10px;
 height:48px;
 margin: -18px -12px !important;
 width:350px;
 text-align:left;
}

div#Headerlogin {
 position:static;
 float:left;
 z-index:10;
 background-color:#5c5c5c;
 color:white; 
 font-size:0.91em;
 padding:4px 10px; 
}

div#MlogicTop {
 position:fixed;
 margin:28px auto;
 z-index:10;
 border:0px solid white;
 min-width: 1150px;
 width:100%;
}

div#Mlogic_old {
 position:static;
 text-align: left;
 margin: 0 auto;
 padding: 30px 0 0 0;
 border: 0px solid silver;
 min-width: 1150px;
 min-height:500px;
 height:100%;
}

div#Mlogic {
 position:static;
 text-align: left;
 margin: 0 auto;
 padding: 30px 0 0 0;
 border: 0px solid silver;
 min-width: 1150px;
 height:100%;
}

div#botlogic {
 background-color: #f1f1f1;
 text-align: left;
 margin: 0 auto;
 padding:1em 0.1em 0em 0.1em;
 border: 1px solid silver;
 min-width: 30em;
 max-width: 53em;
}



div#retm {
 position:fixed;
 width:auto;
 top:0%;
 left:20%;
 right:20%;
 padding:4px;
 color:black;
 background-color:#F3F34C;
 cursor:pointer;
 z-index:11000;
}

div#savestate {
 position:fixed;
 font-size:0.81em;
 left:1%;
 bottom:0%;
 padding:5px;
 width:150px;
 color:black;
 z-index:110;
}

div#ContentLogin {
 text-align:center;
 max-width:450px;
 width:100%;
 padding:20px;
 margin:20px auto;
 background-color:white;
 border: 0px solid silver;
}

div#Content4conf {
 text-align:left;
 font-size:15px;
 border: 0px solid yellow;
 margin: 0;
 padding: 40px 5px 5px 0px;
 min-width: 1000px;
}
div#Content4list {
 text-align:left;
 font-size:15px;
 border: 0px solid yellow;
 margin: 0;
 padding: 40px 5px 5px 0px;
}
div#Content4sublist {
 text-align:left;
 font-size:15px;
 border: 0px solid yellow;
 margin: 0;
 padding: 40px 5px 5px 0px;
 min-width: 200px;
}
div#Content4cal {
 text-align:left;
 font-size:14px;
 border: 0px solid gray;
 margin: 0;
 padding: 40px 5px 5px 0px;
 min-height: 500px;
}

div#Container_txt1 {
 font-size: 13px;
 background-color:white;
 border: 0px solid gray;
 margin: 0 auto;
 padding: 0;
 width: 800px;
 min-height: 150px;
}

.h1 {
 font-size: 1.1em;
 font-weight:bold;
 margin:0.5em 0 0.5em 0
}

.h2 {
 font-size: 1.1em;
 font-weight:normal;
 text-decoration: underline;
 margin:0.5em 0 0.5em 0
}

.rahmen {
 font-size: 0.91em;
 background-color: #e6e798;
 margin: 0em;
 padding: 0.5em 0em;
 border: 1px dashed silver;
}

.sortnav {
  color: black;
  padding:0 2px;
  vertical-align:middle;
  text-decoration: none;
}
.sortnav:link {color:black;}
.sortnav:visited { color:black;}
.sortnav:hover { color:#dcd77f;}

.editboo {
  color: black;
  padding:0px 3px;
  vertical-align:middle;
  text-decoration: none;
}
.editboo:link {color:black;}
.editboo:visited { color:black;}
.editboo:hover { color:#dcd77f;}

.editnav {
  color: black;
  padding:0 2px;
  vertical-align:middle;
  text-decoration: none;
}
.editnav:link {color:black;}
.editnav:visited { color:black;}
.editnav:hover { color:#dcd77f;}

.editnav2 { 
  color:black;
  background-color:silver;
  background-image: url(/img/linkpfeil.gif); 
  background-position: 3px 6px;
  background-repeat: no-repeat;
  padding:1px 10px 1px 17px;
  text-decoration: none;
}
.editnav2:hover { 
  color:black;
  background-color:#f0f1da;
}

.closenav { 
  background-color:#f0f1da;
  background-image: url(/img/close2.gif); 
  background-position: 3px 4px;
  background-repeat: no-repeat;
  padding:4px 1px 1px 22px;
  text-decoration: none;
}

.editnav_menu { 
  position:absolute;
  z-index:2;
  color: #000000;
  font-size: 1em; 
  background-image: url(/img/linkpfeil.gif); 
  background-position: 3px 5px;
  background-repeat: no-repeat;
  padding:1px 1px 1px 17px;
  text-decoration: none;
}
.elinkbutton {
 font-weight: normal;
 font-size: 100%;
 border: 1px solid silver;
 color: #000000; 
 background-color: #eaeaea; 
 text-decoration: none;
 padding:2px;
}
.elinkbutton:hover { color: #000000;}

.elinkbutton1 {
 padding:0 2px;
 color:white;
 text-decoration: none;
}
.elinkbutton1:hover { color:silver;}


.elinkbutton2 {
 font-weight: normal;
 font-size: 0.91em;
 border: 1px solid white;
 color: #000000; 
 background-image:url(/img/bg_main_bottom.gif); 
 text-decoration: none;
 padding:0.1em 0.5em;
}
.elinkbutton2:link {color: #000000;}
.elinkbutton2:visited { color: #000000;}
.elinkbutton2:hover { color: #000000;}

.elinkbutton4 {
 padding:0 2px;
 color:#5c5c5c;
}
.elinkbutton4:hover { color:#d9d6ce;}


.cal {
 text-decoration: none;
 color:black;
}
.cal:hover {
 color:gray;
}
.link {
 text-decoration: none;
 color:black;
}

.cellshad {
 display: block;
 text-decoration:none;
 color: silver;
}

.linknav {margin:3px; color:white; font-size: 1em; text-decoration: none;}
.linknav:hover { background-color:white;color:black;}

.linknav1 {margin:3px; color:black; font-size: 1em; text-decoration: none;}
.linknav1:hover { background-color:black;color:white;}

.linknav2 {
  margin:2px;
  padding:1px 5px;
  border:0px solid gray;
  color:#333399;
  background-color:silver;
  font-size:0.91em;
  text-decoration: none;
}
.linknav2:hover { color:gray;}

.linknav3 {
  margin:3px;
  color:#333399;
  font-size: 1em;
  text-decoration: none;
}
.linknav3:hover {
  color:silver;
}

.linknav4 {
  padding:3px;
  color:#333399;
  font-size: 1em;
}
.linknav4:hover {
  color:silver;
}

.headnav {
 margin:0em 0em;
 padding:0em 0em;
 color: #d0a6a6; 
 background-color: gray;
 border: 0px solid red;
 text-decoration: none; 
 font-size: 1.5em;
}
.headnav:hover { color: #DEC3A9;}

.headnav2 {margin: 0em 0 0 0;color: #000000; text-decoration: none; font-size: 0.91em;}
.headnav2:link {color: #000000;}
.headnav2:visited { color: #000000;}
.headnav2:hover { color: #DEC3A9;}


.leftnav {margin:0px; color: #000000; text-decoration: none;}
.leftnav:link {color: #000000;}
.leftnav:visited { color: #000000;}
.leftnav:hover { background-color:black; color:white;}

.leftnav1 {margin:0px; color: #000000; text-decoration: none;}
.leftnav2 {margin:0px; color: gray; text-decoration: none;}

ul#BigNavi {
 font-size: 14px;
 margin: 0;
 padding-top:65px;
 vertical-align:top;
 text-align:center;
 height:80px;
 border:0px solid white;
}
ul#BigNavi li {
 list-style: none;
 height:100px;
 display: inline-block;
 text-align:center;
 margin: 10px auto;
}
ul#BigNavi a {
 text-align:center;
 margin: 1em;
 padding: 3em;
 border: 0px solid black;
 text-decoration: none;
 font-weight: normal;
 background-color:white;
 opacity:0.8;
 color: black;
}
ul#BigNavi a:hover {
 color: black; background-color: gray;
}
ul#BigNavi a:active {
 color: white; background-color: gray;
}

ul#TopNavi {
 margin:0;
 padding:0;
 vertical-align:top;
 border: 0px solid white;
}
ul#TopNavi li {
 background-color: black;
 list-style: none;
 display: inline;
 margin: 0px; padding: 0;
}
ul#TopNavi a {
 margin: 0; padding: 0em 3em;
 border: 1px solid white;
 text-decoration: none; font-weight: normal;
 color: white;
}
ul#TopNavi a:hover {
 color: black; background-color: white;
}
ul#TopNavi a:active {
 color: white; background-color: gray;
}

#sitetext {
  position:fixed;
  color: white;
  margin: 95px 0 0 5px;
  writing-mode: vertical-lr; 
}

#dynav {
 position:fixed;
 top:0;
 z-index:100;
 cursor: pointer;
 width:30px;
 padding: 0;
 background:#5c5c5c;
 height: 100%;
}

#dynav ul#Navi {
 display:none;
 width:30px;
 margin: 95px 0 0 5px;
 padding: 0;
 animation: mymove 0.2s; 
}

@keyframes mymove {
  from {left: -195px;}
  to {left: 5px;}
}

#dynav:hover ul#Navi {
 position:fixed;
 display: inline-block;
 font-size: 16px;
 width: 200px;
 height:100%;
 border: 0px solid black;
 opacity: 0.95;
 margin: 95px 0 0 5px; 
 padding: 0;
 z-index:3;
}

#dynav ul#Navi li {
 list-style: none;
 margin: 0; 
}

#dynav ul#Navi li a {
 display: block;
 padding: 4px 2px;
 text-decoration: none;
 color: white;
 background-color:#5c5c5c;
}

#dynav ul#Navi li ul {
 display: none;
 position: absolute;
 margin: -14px 0 0 10px;
 padding: 0;
 text-decoration: none;
}
#dynav ul#Navi li:hover ul {
 display:block;
 color: black; 
 background-color:white;
 width: 245px;
 border: 0px solid black;
}
#dynav ul#Navi li a:hover {
 color: black; 
 background-color:#f0f1da;
}
#dynav ul#Navi li a:active {
 color: white; 
 background-color: black;
}


.footer {
 clear: both;
 background-image:url(/img/bg_main_bottom.gif);
 background-repeat:repeat-x;
 background-position: top left;
 color: black;
 font-size: 0.71em;
 text-align: left;
 vertical-align:top;
 padding: 0 0 1em 1em;
 border: 0px solid silver;
}

//-->
